/* notifikasi */
/* .header {
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px 15px;
  color: #020202;
} */
* {
  font-family: "DM Sans", sans-serif;
}

header {
  background-color: yellow;
}

.profil {
  width: 40px;
  height: 30px;
  padding-right: 10px;
  border-radius: 40%;
}

main {
  margin: 50px 0;
}

.list-group-item {
  font-size: 10px;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  main {
    margin: 55px 0;
  }
  .profil {
    width: 60px;
    height: 45px;
    padding-right: 15px;
    border-radius: 40%;
  }
  .list-group-item {
    font-size: 15px;
    padding: 20px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 1024px) {
  header {
    height: 100px;
  }
  .teks {
    padding: 15px 10px;
    font-size: 30px;
  }
  .icon {
    font-size: 25px;
  }
  main {
    margin: 100px 0;
    font-size: 20px;
  }
  .profil {
    width: 70px;
    height: 55px;
    padding-right: 15px;
    border-radius: 40%;
  }
  .list-group-item {
    font-size: 20px;
    padding: 0px 25px;
    border-bottom: 6px solid rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 1440px) {
  header {
    height: 130px;
  }

  .icon {
    font-size: 30px;
  }

  .teks {
    padding: 20px 10px;
    font-size: 40px;
  }
  main {
    margin: 130px 0;
  }
  .profil {
    width: 90px;
    height: 70px;
    padding-right: 20px;
    border-radius: 40%;
  }
  .list-group-item {
    font-size: 25px;
    padding: 0px 25px;
    border-bottom: 6px solid rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 2560px) {
  header {
    height: 250px;
  }
  .icon {
    font-size: 60px;
  }
  .teks {
    padding: 60px 10px;
    font-size: 80px;
  }
  main {
    margin: 255px 0;
  }
  .profil {
    width: 120px;
    height: 98px;
    padding-right: 20px;
    border-radius: 40%;
  }
  .list-group-item {
    font-size: 40px;
    padding: 0px 25px;
    border-bottom: 6px solid rgba(0, 0, 0, 0.5);
  }
}
