/* notifikasi */
/* .header {
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px 15px;
  color: #020202;
} */
* {
  font-family: "DM Sans", sans-serif;
}

header {
    background-color: yellow;
}

.profil {
  width: 40px;
  height: 30px;
  padding-right: 10px;
  border-radius: 40%;
}

.list-group-item {
  font-size: 10px;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
