* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, yellow, rgb(184, 184, 184));
  background-repeat: no-repeat;
}

/* .tab {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: -25px;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: scroll;
}

.tab-wrapper {
  width: 100%;
  height: 50px;
  overflow: scroll;
  white-space: nowrap;
  position: relative;
}

.content-wrapper {
  width: 350px;
  height: 50px;
  margin: 0 auto;
  position: relative;
} */

/* notifikasi */
.header {
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px 15px;
  color: #020202;
}

.profil {
  width: 40px;
  height: 30px;
  padding-right: 10px;
  border-radius: 40%;
}

.list-group-item {
  font-family: Verdana, sans-serif;
  font-size: 10px;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* profil */
main {
  margin-top: 70px;
  background-color: white;
  height: 100%;
}

.akun {
  height: 150px;
}

.foto {
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.foto img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 40px;
}

.nama,
.email {
  text-align: center;
  margin-top: 4px;
}

.nama {
  font-size: 25px;
}

.email {
  font-size: 15px;
  color: gray;
}

.tombol {
  display: flex;
  justify-content: center;
  /* margin-top: px; */
}

.btn {
  background-color: rgb(239, 232, 232);
  color: purple;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 40%;
}
