* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background: linear-gradient(to bottom, yellow, rgb(184, 184, 184));
  background-repeat: no-repeat;
}

.nav-link {
  border-bottom: 2px solid transparent;
}
.nav-link.active {
  border-bottom: 2px solid #cfa81b;
}
#myTab {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#myTab::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
