* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

header {
  background-color: yellow;
}

/* main {
  margin: 10% 0;
} */

a.btn.rounded-pill {
  background-color: lightgray;
  border: 1px solid black;
  margin-left: 10px;
  margin-bottom: 5px;
}

/*  */
.todo-timeline {
  margin-top: 75px;
  max-width: 320px;
  .timeline-text {
    display: flex;
    justify-content: space-between;

    .timeline-number {
      margin-right: 60px;
    }
  }
  .todo-title {
    font-size: 50px;
    color: #0fa3b1;
    font-weight: bold;
    white-space: nowrap;
  }
  .v-timeline {
    margin-top: 30px;
    ul {
      position: relative;
    }
    li {
      list-style-type: none;
      padding: 0 0 30px;
      position: relative;
      overflow: hidden;
      .top-bold-label {
        font-size: 1.4rem;
        font-weight: bold;
      }
      .mid-paragraph {
        font-size: 1.4rem;
      }
      .bottom-link {
        color: #c6d315;
        font-weight: bold;
        font-size: 1.4rem;
      }
    }
    .pl-30 {
      padding-left: 30px;
    }
    .v-timeline-icon {
      &:before {
        content: " ";
        height: 27px;
        position: absolute;
        top: 0;
        left: 0;
        width: 27px;
        border-radius: 50%;
        background: #818820;
      }
      &:after {
        content: " ";
        border-left: 2px solid #818820;
        display: inline-block;
        position: absolute;
        left: 12px;
        height: 400px;
        z-index: 400;
        top: 27px;
      }
    }
    .v-timeline-iconn {
      &:before {
        content: " ";
        height: 27px;
        position: absolute;
        top: 0;
        left: 0;
        width: 27px;
        border-radius: 50%;
        background: #818820;
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    margin: 80px 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  main {
    margin: 10% 0;
  }

  p {
    font-size: 24px;
  }

  .t-h {
    font-size: 32px;
  }
}

@media (min-width: 1025px) {
  main {
    margin: 7em 0;
  }

  header {
    height: 100px;
  }
  .teks {
    padding: 15px 10px;
    font-size: 30px;
  }
  .icon {
    font-size: 25px;
  }

  p {
    font-size: 24px;
  }

  .t-h {
    font-size: 32px;
  }

  .main {
    margin: 7em 10px 5px 10px;
  }

  a.btn.rounded-pill {
    font-size: 24px;
  }

  p.profesi {
    font-size: 36px;
  }

  nav div a {
    font-size: 24px;
  }

  button.btn-offcanvas p {
    font-size: 24px;
    margin-bottom: 0;
  }
}

@media (min-width: 2560px) {
  nav div a {
    font-size: 36px;
  }
}
